
#preview{
    width: 100%;
    /*overflow: scroll;*/
}

.buttons > button:hover{
    background-color: lightgreen;
}

#dragable { 
    width: 15em; height: 15em; background: red; 
    border-radius: 5em;
    text-align: center;
    vertical-align: middle;
}

#filter-box * {
    margin: auto;
    text-align: center;
}

#filter-box{
    text-align: center;
}
#dragable * {
    padding-top: 2em;
}
.buttons > button{
    background-color: rgb(91, 170, 91);
    border-radius: 0.5em;
    width: 10em;
}
